*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 18px;
  background-color: #0d192b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100vh; }

.heading-1 {
  font-family: "Outfit";
  color: white;
  font-weight: 600;
  line-height: 1; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.card {
  width: 375px;
  height: auto;
  padding: 1.5rem;
  margin: 4rem auto 1.5rem;
  background-color: #14253d;
  border-radius: 1rem; }

.component-img {
  width: 100%;
  border-radius: 1rem; }
