*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Lexend Deca', 'Barlow', sans-serif; }

.container {
  display: grid;
  grid-template-rows: 90vh 110vh 110vh 100vh 100vh;
  grid-template-columns: repeat(4, 25vw); }

h1, h2, h3, h4 {
  font-family: "Fraunces", serif; }

h1 {
  font-weight: 900;
  font-size: 2.8rem;
  color: white;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem; }

h2 {
  font-weight: 900;
  font-size: 2.4rem;
  color: #23303e; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

p {
  font-family: "Barlow"; }

.pfeil {
  font-size: 12rem;
  color: white; }

header {
  grid-row: 1;
  grid-column: 1 / 5;
  width: 100%;
  height: 5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; }

.nav {
  text-align: center; }
  .nav__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 2rem; }
  .nav__desktop {
    display: none; }
  .nav__icon {
    content: "";
    background-color: white;
    display: inline-block;
    z-index: 2;
    width: 3rem;
    height: 2px; }

.section__hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2; }

.section__brand {
  grid-column: 1 / -1;
  grid-row: 2 / 3; }

.section__audience {
  grid-column: 1 / -1;
  grid-row: 3 / 4; }

.section__design {
  grid-column: 1 / -1;
  grid-row: 4 / 5; }

.section__photography {
  grid-column: 1 / -1;
  grid-row: 5 / 6; }

.section__clients {
  grid-column: 1 / -1;
  grid-row: 6 / 7; }

.box {
  width: 100%;
  height: 100%; }
  .box__hero--img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center; }

.brand--img {
  background-image: url(../images/mobile/image-transform.jpg);
  background-size: cover;
  background-position: center;
  height: 45vh; }

.brand--text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  height: 65vh; }

.brand--link {
  font-family: 'Fraunces';
  font-weight: 900;
  text-transform: uppercase;
  color: #23303e; }
  .brand--link::before {
    content: "";
    position: absolute;
    background-color: #fad400;
    width: 12.5rem;
    height: 0.8rem;
    margin-left: -0.7rem;
    margin-top: 1.3rem;
    opacity: 0.4;
    border-radius: 25px; }

.brand--p {
  color: #818498; }

.audience--img {
  background-image: url(../images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-position: center;
  height: 45vh; }

.audience--text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  height: 65vh; }

.audience--p {
  color: #818498; }

.audience--link {
  font-family: 'Fraunces';
  font-weight: 900;
  text-transform: uppercase;
  color: #23303e; }
  .audience--link::before {
    content: "";
    position: absolute;
    background-color: #fe7867;
    width: 12.5rem;
    height: 0.8rem;
    margin-left: -0.7rem;
    margin-top: 1.3rem;
    opacity: 0.4;
    border-radius: 25px; }

.design--img {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 5rem; }

.design--text {
  text-align: center;
  padding: 1rem; }

.design--h2 {
  padding-bottom: 2rem;
  color: #25564b; }

.design--p {
  font-size: 1.4rem;
  color: #25564b; }

.photography--img {
  background-image: url(../images/mobile/image-photography.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 5rem; }

.photography--text {
  text-align: center;
  padding: 1rem; }

.photography--h2 {
  padding-bottom: 2rem;
  color: #19536b; }

.photography--p {
  font-size: 1.4rem;
  color: #19536b; }

.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh; }
  .clients--h3 {
    text-align: center;
    color: #a7abae;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }

.client {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 4vh 2vw 4vh 2vw;
  height: 50vh;
  width: 100%; }
  .client--user {
    border-radius: 50%;
    width: 16vh;
    padding: 1rem; }
  .client--p {
    color: #5a636c;
    font-size: 1.4rem; }
  .client h4 {
    font-size: 1.5rem; }
  .client--position {
    font-size: 1.2rem;
    color: #a7abae; }
