*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Barlow";
  font-size: 18px; }

.container {
  display: grid;
  grid-template-rows: 100vh 50vh 50vh;
  grid-template-columns: repeat(4, 1fr); }

h1 {
  font-family: "Fraunces";
  font-size: 22px;
  color: white;
  line-height: 1;
  font-weight: 900;
  text-align: center; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

header {
  grid-row: 1;
  grid-column: 4 / 5;
  width: 5rem;
  height: 5rem;
  z-index: 1; }

.nav {
  text-align: center; }
  .nav__mobile {
    display: block; }
  .nav__desktop {
    display: none; }
  .nav__icon {
    content: "";
    background-color: white;
    display: inline-block;
    z-index: 2;
    width: 3rem;
    height: 2px; }

.section__hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2; }

.section__brand {
  grid-column: 1 / -1;
  grid-row: 2 / 3; }

.box {
  width: 100%;
  height: 100%; }
  .box__hero {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover; }
  .box__brand {
    background-image: url(../images/mobile/image-transforme.jpg);
    background-size: cover; }
