*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Barlow";
  font-size: 18px; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

header {
  grid-row: 1;
  grid-column: 1/-1; }

h1 {
  font-family: "Fraunces";
  font-size: 22px;
  color: white;
  line-height: 1; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
