*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 18px;
  background-color: #0d192b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100vh; }

.heading-1 {
  font-family: "Outfit";
  font-size: 22px;
  color: white;
  font-weight: 600;
  line-height: 1; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.card {
  width: 375px;
  height: auto;
  padding: 1.5rem;
  margin: 4rem auto 1.5rem;
  background-color: #14253d;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, min-content);
  grid-row-gap: 1rem; }

.component-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem;
  grid-column: 1 / 4;
  grid-row: 1 / 2; }

.component-heading {
  grid-column: 1 / 4;
  grid-row: 2 / 3; }

.component-text {
  color: #8bacda;
  grid-column: 1 / 4;
  grid-row: 3 / 4; }

.component-value {
  color: #00fff7;
  grid-column: 1 / 3;
  grid-row: 4 / 5; }

.component-time {
  color: #8bacda;
  grid-column: 3 / 4;
  grid-row: 4 / 5; }

.component-link {
  color: white;
  text-decoration: none; }

.component-break {
  border: solid 1px #2f415b;
  grid-column: 1 / -1;
  grid-row: 5 / 6; }

.component-avatar {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: solid 1px white;
  border-radius: 50%; }

.component-creation {
  color: #8bacda;
  grid-column: 2 / -1;
  grid-row: 6 / 7; }

.component-icon {
  padding-right: 0.5rem; }
