.Main {
  background-color: var(--color-Very-dark-violet);
  display: flex;
  flex-direction: column;
  
}

.form {
  background: white;
  padding: 1rem;
  padding-top: 10rem;

  display: flex;
  flex-direction: column;

  &--label {
    font-weight: var(--weights);
    text-transform: uppercase;
  }

  &--button {
  }

  &--div {
    display: flex;
    flex-direction: column;
  }
}
