.Main {
  background-color: var(--color-Very-dark-violet);
  display: flex;
  flex-direction: column;
}

.form {
  background: white;
  padding: 1rem;
  padding-top: 8vh;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__label {
    font-weight: var(--weights);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    //margin-bottom: 0.5rem;
  }

  &__input {
    height: 2rem;
    font-size: var(--default-Font-size);
    border: 1px solid var(--color-Light-grayish-violet);
    border-radius: 5px;
    color: black;
    padding: 1rem;
    margin-top: 0.5rem;

    &::placeholder{
      color: var(--color-Light-grayish-violet);
    }

    &--date {
      width: 20vw;
      height: 2rem;
      font-size: var(--default-Font-size);
      border: 1px solid var(--color-Light-grayish-violet);
      border-radius: 5px;
      color: var(--color-Light-grayish-violet);
      padding: 1rem;

      &--right{
        width: 42vw;
      }
    }
  }

  &__button {
    background-color: var(--color-Very-dark-violet);
    color: var(--color-White);
    border-radius: 10px;
    height: 3rem;
    font-size: var(--default-Font-size);
  }

  &__div {
    display: flex;
    flex-direction: column;

    &--break {
      width: 45vw;
      //margin-right: 1rem;
    }

    &--date {
      display: flex;
      gap: 1rem;
    }
  }
}
