main section {
  display: grid;
  grid-template-areas:  "card"
                        "form";
                        

  @media screen and (min-width: 900px) { 
    grid-template-areas:  "card form";
  }          
}

section{
  height: 90vh;
}

.form {
  grid-area: form;
  background: white;
  padding: 1rem;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 900px){
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    padding-left: 10vw;
    margin-top: 0px;
  }

  &__label {
    font-weight: var(--weights);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    //margin-bottom: 0.5rem;
  }

  &__input {
    height: 2rem;
    font-size: var(--default-Font-size);
    border: 1px solid var(--color-Light-grayish-violet);
    border-radius: 5px;
    color: black;
    padding: 1rem;
    margin-top: 0.5rem;

    @media screen and (min-width: 900px){
      width: 420px;
    }

    &::placeholder{
      color: var(--color-Light-grayish-violet);
    }

    &--date {
      width: 20vw;
      height: 2rem;
      font-size: var(--default-Font-size);
      border: 1px solid var(--color-Light-grayish-violet);
      border-radius: 5px;
      color: var(--color-Light-grayish-violet);
      padding: 1rem;

      @media screen and (min-width: 900px){
        width: 100%;
      }

      &--right{
        width: 42vw;

        @media screen and (min-width: 900px){
          width: 100%;
        }
      }
    }
  }

  &__div {
    display: flex;
    flex-direction: column;

    &--break {
      width: 45vw;
      //margin-right: 1rem;

      @media screen and (min-width: 900px){
        width: 200px;
      }
    }

    &--date {
      display: flex;
      gap: 1rem;
    }
  }
}

.button {
  background-color: var(--color-Very-dark-violet);
  color: var(--color-White);
  border-radius: 10px;
  height: 3rem;
  font-size: var(--default-Font-size);

  @media screen and (min-width: 900px){
    width: 420px;
  }

  &__confirm{
    width: 90vw;

    @media screen and (min-width: 900px){
      width: 420px;
    }
  }
}
