.footer{
    background-color: $color-moderate-cyan-light;
    height: 30vh;
    width: 100%;
    color: $color-moderate-cyan;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
    }

    &__social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    &--logo{
        color: $color-moderate-cyan;
    }
    
}