.thanks{
    background-color: $darkSlateGrey;


  &__img {
    height: auto;
    width: 15vw;
  }

  &__div {
    display: none;
    height: 100vh;
    background-color: $white;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;

    @media only screen and (min-width: $width-mobile){
        height: 30rem;
        width: 40rem;
        border-radius: 1rem;
    }
  }

  &__confirmation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    height: 50vh;
  }

  
}
