h1{
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.8rem;
  color: $color-white;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3969rem;
  
}

h2{
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.4rem;
  color: $color-dark-desaturated-blue;   
}

.attribution { 
  font-size: 11px; text-align: center; 
  & a{
    color: hsl(228, 45%, 44%);
  }
}

p{
  font-family: "Barlow";
}

.pfeil{
  font-size: 12rem;
  color: $color-white;
}



