h1{
  font-family: "Lexend Deca";
    font-size: 2.8rem;
    color: $color-white;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.attribution { 
  font-size: 11px; text-align: center; 
  & a{
    color: hsl(228, 45%, 44%);
  }
}

p{
  font-family: "Barlow";
}



