h1{
    font-family: "Fraunces";
    font-size: 22px;
    color: $color-white;
    line-height: 1;
    font-weight: 900;
    text-align: center;
}

.attribution { 
  font-size: 11px; text-align: center; 
  & a{
    color: hsl(228, 45%, 44%);
  }
}



