.clients{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 8vh;

    &--h3{
        text-align: center;
        color: $color-grayish-blue;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
}


.client{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 4vh 2vw 4vh 2vw;
    height: 50vh;
    width: 100%;

    &--user{
        border-radius: 50%;
        width: 16vh;
        padding: 1rem;
    }

    &--p{
        color: $color-very-dark-grayish-blue;
        font-size: 1.4rem;
    }

    & h4{
        font-size: 1.5rem;
        

    }

    &--position{
        font-size: 1.2rem;
        color: $color-grayish-blue;
    }
}