.hero{
    &--img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../images/mobile/image-header.jpg);
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: $width-tablet){
            background-image: url(../images/desktop/image-header.jpg);
        }
    }
}