.photography{
    &--img{
        background-image: url(../images/mobile/image-photography.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        padding-bottom: 5rem;

        @media only screen and (min-width: $width-tablet){
            background-image: url(../images/desktop/image-photography.jpg);
        }
    }

    &--text{
        text-align: center;
        padding: 1rem;
    }

    &--h2{
        padding-bottom: 2rem;
        color: $color-dark-blue;
    }

    &--p{
        font-size: 1.4rem;
        color: $color-dark-blue;
    }
}